name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código
        uses: actions/checkout@v4

      - name: Instalar dependências do sistema
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libtinfo5 \
            libncurses5 \
            libstdc++6 \
            zlib1g \
            unzip \
            zip \
            openjdk-17-jdk

      - name: Instalar Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade cython==0.29.36
          pip install --upgrade buildozer

      - name: Compilar APK
        run: |
          buildozer -v android debug

      - name: Guardar APK (artifact)
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
